* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333399;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4747c4;
  } 

.centered-content {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top right, #ff00cc, #333399);

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-view-container {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 1000px;
    max-height: 900px;
    max-width: 1400px;

    display: flex;
}

.task-list-container {
    height: 100%;
    width: 300px;

    display: flex;
    flex-direction: column;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #ffffff ;

}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 32px;

    h1 {
        font-family: 'Fugaz One', sans-serif;
        color: #3e3e3e;
        font-size: 32px;

        padding: 0;
        margin: 0;

        cursor: default;
    }
}

.task-items {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;

    width: 100%;
    flex: 1;
    padding: 32px;

    overflow-y: auto;

    h2 {
        font-family: 'Fugaz One', sans-serif;
        color: #901CB0;
        font-size: 26px;

        cursor: pointer;

        &:hover {
            color: #B513B9;
        }

        &.is-active {
            color: #df0ed4;
        }
    }

}

.add-list-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px;
    height: 10%;
    width: 100%;

    button {
        height: 50px;
        width: 100%;

        border: none;
        border-radius: 20px;
        background: #EC05C7;
        cursor: pointer;

        font-size: 15px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
}

.task-container {
    height: 100%;
    flex: 1;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #f4f4f4 ;

    display: flex;
    flex-direction: column;

}

.task-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    padding: 32px;

    h1 {
        font-family: 'Fugaz One', sans-serif;
        color: #3e3e3e;
        font-size: 32px;
        padding: 0;
        margin: 0;
        cursor: default;
    }

    .create-task {
        height: 80%;
        width: 150px;

        border: none;
        border-radius: 20px;
        background: #901CB0;
        cursor: pointer;

        font-size: 15px;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
}

.task-card-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    overflow-y: auto;
}

.task-card {
    display: flex;
    flex-direction: column;
    padding: 20px;

    width: 80%;
    margin-bottom: 15px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #bdc2c4;

    cursor: pointer;

    font-family: 'Lato', sans-serif;
    p {
        font-weight: 400;
    }

    &:not(.completed) {
        transition: .1s;

        &:active {
            transform: scale(.98);
        }
    }


    &.completed  {
        p {
            text-decoration: line-through;
        }
        cursor: default;
        background: #d5d5d5;
        opacity: .5;
    }
}