<div class="centered-content">

    <div class="task-view-container">

        <div class="task-list-container">

            <div class="title">

                <h1>Tasks</h1>

            </div>

            <div class="task-items">

                <h2 class="task is-active">
                    Task #1
                </h2>

                <h2 class="task">
                    Task #2
                </h2>

                <h2 class="task">
                    Task #3
                </h2>

                <h2 class="task">
                    Task #3
                </h2>

            </div>

            <div class="add-list-button-container">

                <button>Add List</button>

            </div>
            

        </div>

        <div class="task-container">

            <div class="task-card">
                <p>
                    -Eggs
                    -Milk
                    -Veggies
                </p>
            </div>

            <div class="task-card">
                <p>
                    -$100
                </p>
            </div>

            <div class="task-card completed">
                <p>
                    6:00 P.M.
                </p>
            </div>

        </div>

    </div>

</div>