<div class="centered-content">

    <div class="task-view-container">

        <div class="task-list-container">

            <div class="title">

                <h1>Lists</h1>

            </div>

            <div class="task-items">

                <h2 class="task" *ngFor="let list of lists" [routerLink]="['/lists/',list._id]" routerLinkActive="is-active">
                    {{list.title}}
                </h2>


            </div>

            <div class="add-list-button-container">

                <button routerLink="/new-list">Add List</button>

            </div>
            

        </div>

        <div class="task-container">

            <div class="task-title">

                <h1>Tasks</h1>

                <button class="create-task" routerLink="">
                    Add Task
                </button>

            </div>

            <div class="task-card-container">

                <div class="task-card" *ngFor="let task of tasks">
                    <p>{{ task.title }}</p>
                </div>  
    
                <div class="task-card completed">
                    <p>
                        6:00 P.M.
                    </p>
                </div>

            </div>



        </div>

    </div>

</div>